# 1. Ignore ALL R data files
*.rds
*.RData
*.zip
*.csv
*.pdf
*.dta



# But do NOT ignore files that contain "encrypted" anywhere in the name
!*encrypted*.rds
!*encrypted*.RData

Dummy files/

# History files and other check files
.Rhistory
.Rapp.history
.Rproj.user/
/*_cache/
/*_files/
.Rcheck/
.RData
.RData-tmp


# Session data files (can be huge and mess up Git)


